//---- VISUAL STUDIO ----- (C#)
bin/
obj/
.vs/
*.DotSettings.user

//----- VISUAL STUDIO CODE ------ (JS)
.vscode/
node_modules/
package-lock.json

//----- CODE BLOCKS ------ (C, C++)
bin/
obj/
*.layout
*.depend
*.exe
*.o

