.gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery li {
  flex: 0 0 100%;
  margin-bottom: 3%;
  list-style: none outside;
  background: #FFF;
  display: flex;
  position: relative;
  box-shadow: 0 0 1.5em 0.2em rgba(0,0,0,1);
  animation: slideIn 0.3s ease-in;
  animation-fill-mode: both;
}

@media(min-width: 600px) {
  .gallery li {
    flex: 0 0 47%;
    margin-bottom: 6%;
  }
}

@media(min-width: 1024px) {
  .gallery li {
    flex: 0 0 30%;
    margin-bottom: 5%;
  }
}

.gallery li:nth-child(2) { animation-delay: 0.2s }
.gallery li:nth-child(3) { animation-delay: 0.3s }
.gallery li:nth-child(4) { animation-delay: 0.4s }
.gallery li:nth-child(5) { animation-delay: 0.5s }
.gallery li:nth-child(6) { animation-delay: 0.6s }
.gallery li:nth-child(7) { animation-delay: 0.7s }
.gallery li:nth-child(8) { animation-delay: 0.8s }
.gallery li:nth-child(9) { animation-delay: 0.9s }


.gallery li:before {
  display: block;
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: 0 0 1.5em 0.5em rgba(0,0,0,1);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.gallery li:hover:before {
  opacity: 1;
}

.gallery a {
  width: 100%;
  display: flex;
  align-items: center;
  border: 0.5em solid #222;
  justify-content: center;
  padding: 1em;
}

.gallery span {
  display: block;
  position: relative;
}

.gallery span:before {
  display: block;
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 0.3s ease-in;
}

.gallery span:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  box-shadow: inset 0 0 0.2em 0 rgba(0,0,0,0.5);
}

.gallery a:hover span:before {
  opacity: 0;
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

/*----- HIDDEN, NOT IN USE -----*/
.modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal .inner {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
  background: #FFF;
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.5);
  overflow: hidden;
}

.modal .inner img {
  display: block;
  width: 100%;
  height: auto;
}
/*------------------------------*/
