/*
 * Transitions
*/

.site-main {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in-out;
  transition-delay: 1.3s;
}

body.loaded .site-main {
  opacity: 1;
  transform: translateY(0);
}

.site-title {
  opacity: 0;
  transform: translateX(-2em);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in-out;
  /*transition-delay: 0.9s;*/
  transition-delay: 0.3s;
}

body.loaded .site-title {
  opacity: 1;
  transform: translateX(0);
}

.site-nav li {
  opacity: 0;
  transform: translateY(-1em);
  transition: opacity 0.4s ease-in, transform 0.4s ease-in-out;
}

/*
.site-nav li:nth-child(1) { transition-delay: 0.1s; }
.site-nav li:nth-child(2) { transition-delay: 0.2s; }
.site-nav li:nth-child(3) { transition-delay: 0.3s; }
*/
.site-nav li:nth-child(1) { transition-delay: 0.7s; }
.site-nav li:nth-child(2) { transition-delay: 0.8s; }
.site-nav li:nth-child(3) { transition-delay: 0.9s; }
.site-nav li:nth-child(4) { transition-delay: 0.10s; }

body.loaded .site-nav li {
  opacity: 1;
  transform: translateY(0);
}

.site-nav a {
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.site-nav a i.fas:before {
  transition: color 0.3s ease-in-out;
}