:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;

  --layout-main-width: 60em;

  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link-default: #A00;

  --color-border-default: #999; 
  --spacing-layout-elements: 2em;
}