html {
  font-size: 16px;
}

body {
  max-width: 70rem;
  margin: 0 auto;
}

ul.gallery {
  display: inline-block;
}

ul.gallery li {
  display: inline-block;
  border: 0.4rem solid black;
  vertical-align: middle;
  padding: 0.4em;
  margin: 0.4em 0.2em;
  width:300px;
}

ul.gallery li.landscape {
  height: 200px;
}

ul.gallery li.portrait {
  height: 450px;
}

ul.gallery li img {
  width: 100%;
  height: auto;
}
