{{> header}}

<h1>Register</h1>
<p class="form-info">Already registered?
  <a href="/login">Login now</a> and have some fun!
</p>

<form action="/register" method="POST">
  <div>
    <input type="email" placeholder="Email..." name="email">
  </div>
  <div>
    <input type="password" placeholder="Password" name="password">
  </div>
  <div>
    <input type="password" placeholder="Re-password" name="repeatPassword">
  </div>
  <div>
    <p class="message"></p>
    <button>Register</button>
  </div>
</form>

{{> footer}}