-- Create the database [Geography] if it does not exist
IF NOT EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = 'Geography')
  CREATE DATABASE Geography
GO

USE Geography
GO


-- Drop all existing Geography tables, so that we can create them
IF OBJECT_ID('Monasteries') IS NOT NULL
  DROP TABLE Monasteries
IF OBJECT_ID('CountriesRivers') IS NOT NULL
  DROP TABLE CountriesRivers
IF OBJECT_ID('MountainsCountries') IS NOT NULL
  DROP TABLE MountainsCountries
IF OBJECT_ID('Peaks') IS NOT NULL
  DROP TABLE Peaks
IF OBJECT_ID('Mountains') IS NOT NULL
  DROP TABLE Mountains
IF OBJECT_ID('Rivers') IS NOT NULL
  DROP TABLE Rivers
IF OBJECT_ID('Countries') IS NOT NULL
  DROP TABLE Countries
IF OBJECT_ID('Continents') IS NOT NULL
  DROP TABLE Continents
IF OBJECT_ID('Currencies') IS NOT NULL
  DROP TABLE Currencies


-- Create tables
CREATE TABLE Continents(
	ContinentCode char(2) NOT NULL,
	ContinentName nvarchar(50) NOT NULL,
  CONSTRAINT PK_Continents PRIMARY KEY CLUSTERED (ContinentCode)
)
GO

CREATE TABLE Countries(
	CountryCode char(2) NOT NULL,
	IsoCode char(3) NOT NULL,
	CountryName varchar(45) NOT NULL,
	CurrencyCode char(3),
	ContinentCode char(2) NOT NULL,
	Population int NOT NULL,
	AreaInSqKm int NOT NULL,
	Capital varchar(30) NOT NULL,
  CONSTRAINT PK_Countries PRIMARY KEY CLUSTERED (CountryCode)
 )
GO

CREATE TABLE Currencies(
	CurrencyCode char(3) NOT NULL,
	Description nvarchar(200) NOT NULL,
  CONSTRAINT PK_Currencies PRIMARY KEY CLUSTERED (CurrencyCode)
)
GO

CREATE TABLE Mountains(
	Id int IDENTITY NOT NULL,
	MountainRange nvarchar(50) NOT NULL,
  CONSTRAINT PK_Mountains PRIMARY KEY CLUSTERED (Id)
)
GO

CREATE TABLE MountainsCountries(
	MountainId int NOT NULL,
	CountryCode char(2) NOT NULL,
  CONSTRAINT PK_MountainsContinents PRIMARY KEY CLUSTERED (MountainId, CountryCode)
)
GO

CREATE TABLE Peaks(
	Id int IDENTITY NOT NULL,
	PeakName nvarchar(50) NOT NULL,
	Elevation int NOT NULL,
	MountainId int NOT NULL,
  CONSTRAINT PK_Peaks PRIMARY KEY CLUSTERED (Id)
)
GO

CREATE TABLE Rivers(
	Id int IDENTITY NOT NULL,
	RiverName nvarchar(50) NOT NULL,
	Length int NOT NULL,
	DrainageArea int NOT NULL,
	AverageDischarge int NOT NULL,
	Outflow nvarchar(50) NOT NULL,
  CONSTRAINT PK_Rivers PRIMARY KEY CLUSTERED (Id)
)
GO

CREATE TABLE CountriesRivers(
	RiverId int NOT NULL,
	CountryCode char(2) NOT NULL,
  CONSTRAINT PK_CountriesRivers PRIMARY KEY CLUSTERED (CountryCode, RiverId)
)
GO


-- Insert table data
INSERT Continents (ContinentCode, ContinentName) VALUES
	 (N'AF', N'Africa')
	,(N'AN', N'Antarctica')
	,(N'AS', N'Asia')
	,(N'EU', N'Europe')
	,(N'NA', N'North America')
	,(N'OC', N'Oceania')
	,(N'SA', N'South America')



SET IDENTITY_INSERT Mountains ON
SET IDENTITY_INSERT Mountains OFF

INSERT MountainsCountries (MountainId, CountryCode) VALUES
	 (1, N'US')		,(2, N'IR')		,(3, N'AR')		,(3, N'CL')		,(4, N'BG')		,(5, N'GE')		,(5, N'RU')		,(6, N'MX')		,(9, N'CN')		,(9, N'IN')
	,(9, N'NP')		,(10, N'ID')	,(11, N'CN')	,(11, N'PK')	,(12, N'KE')	,(13, N'TZ')	,(14, N'TZ')	,(15, N'ID')	,(16, N'BG')	,(17, N'BG')
	,(18, N'CA')	,(20, N'PG')	,(21, N'ID')	,(22, N'MX')	,(23, N'BG')	,(24, N'BG')	,(25, N'BG')	,(26, N'IT')	,(26, N'CH')

SET IDENTITY_INSERT Peaks ON
SET IDENTITY_INSERT Peaks OFF

SET IDENTITY_INSERT Rivers ON 
SET IDENTITY_INSERT Rivers OFF

GO

-- Add integrity constraints
ALTER TABLE Countries WITH CHECK ADD CONSTRAINT FK_Countries_Continents
FOREIGN KEY(ContinentCode) REFERENCES Continents (ContinentCode)
GO

ALTER TABLE Countries WITH CHECK ADD CONSTRAINT FK_Countries_Currencies
FOREIGN KEY(CurrencyCode) REFERENCES Currencies (CurrencyCode)
GO

ALTER TABLE CountriesRivers WITH CHECK ADD CONSTRAINT FK_CountriesRivers_Countries
FOREIGN KEY(CountryCode) REFERENCES Countries (CountryCode)
GO

ALTER TABLE CountriesRivers WITH CHECK ADD CONSTRAINT FK_CountriesRivers_Rivers
FOREIGN KEY(RiverId) REFERENCES Rivers (Id)
GO

ALTER TABLE MountainsCountries WITH CHECK ADD CONSTRAINT FK_MountainsCountries_Countries
FOREIGN KEY(CountryCode) REFERENCES Countries (CountryCode)
GO

ALTER TABLE MountainsCountries WITH CHECK ADD CONSTRAINT FK_MountainsCountries_Mountains
FOREIGN KEY(MountainId) REFERENCES Mountains (Id)
GO

ALTER TABLE Peaks WITH CHECK ADD CONSTRAINT FK_Peaks_Mountains
FOREIGN KEY(MountainId) REFERENCES Mountains (Id)
GO

/*---------------------- EXERCISE -----------------------*/
USE [Geography]

/*--- TASK 12 --- HIGHEST PEAKS IN BULGARIA -------------*/
SELECT c.CountryCode
	  ,m.MountainRange
	  ,p.PeakName
	  ,p.Elevation 
FROM Countries AS c
JOIN MountainsCountries AS mc ON mc.CountryCode = c.CountryCode AND c.CountryCode = 'BG'
JOIN Mountains AS m ON m.Id = mc.MountainId
JOIN Peaks AS p ON p.MountainId = mc.MountainId AND p.Elevation > 2835
ORDER BY p.Elevation DESC

/*--- TASK 13 --- COUNT MOUNTAIN RANGES -----------------*/
SELECT c.CountryCode
	  ,COUNT(mc.MountainId) AS MountainRanges 
FROM Countries AS c
JOIN MountainsCountries AS mc ON mc.CountryCode = c.CountryCode AND c.CountryName IN ('United States', 'Russia', 'Bulgaria')
GROUP BY c.CountryCode

/*--- TASK 14 --- COUNTRIES WITH OR WITHOUT RIVERS ------*/
SELECT TOP (5) c.CountryName
			  ,r.RiverName 
FROM Rivers AS r
JOIN CountriesRivers AS rc ON rc.RiverId = r.Id
RIGHT JOIN Countries AS c ON c.CountryCode = rc.CountryCode
WHERE c.ContinentCode = 'AF'
ORDER BY c.CountryName

/*--- TASK 15 --- CONTINENTS AND CURRENCIES -------------*/
SELECT MostUsedCurrency.ContinentCode
	  ,MostUsedCurrency.CurrencyCode
	  ,MostUsedCurrency.CurrencyUsage
FROM
	(
		SELECT c.ContinentCode
			  ,c.CurrencyCode
			  ,COUNT(c.CurrencyCode) AS CurrencyUsage
			  ,DENSE_RANK() OVER (PARTITION BY c.ContinentCode ORDER BY COUNT(c.CurrencyCode) DESC) AS CurrencyRank
		FROM Countries AS c
		GROUP BY c.ContinentCode, c.CurrencyCode
		HAVING COUNT(c.CurrencyCode) > 1

	) AS MostUsedCurrency
WHERE MostUsedCurrency.CurrencyRank = 1
ORDER BY MostUsedCurrency.ContinentCode, MostUsedCurrency.CurrencyUsage

/*--- TASK 16 --- COUNTRIES WITHOUT ANY MOUNTAINS -------*/
SELECT COUNT(*) AS CountryCode
FROM Countries AS c
LEFT JOIN MountainsCountries AS mc ON mc.CountryCode = c.CountryCode
WHERE mc.CountryCode IS NULL

/*--- TASK 17 --- HIGHEST PEAK AND LONGEST RIVER BY COUNTRY -------*/
SELECT TOP(5) c.CountryName
			 ,MAX(p.Elevation) AS MaxElevation
			 ,MAX(r.[Length]) AS MaxRiverLength
FROM Countries AS c
LEFT JOIN MountainsCountries AS mc ON mc.CountryCode = c.CountryCode
LEFT JOIN Mountains AS m ON m.Id = mc.MountainId
LEFT JOIN Peaks AS p ON p.MountainId = m.Id 
LEFT JOIN CountriesRivers AS cr ON cr.CountryCode = c.CountryCode
LEFT JOIN Rivers AS r ON r.Id = cr.RiverId
GROUP BY c.CountryName
ORDER BY MaxElevation DESC, MaxRiverLength DESC, c.CountryName

/*--- TASK 18 --- HIGHEST PEAK NAME AND ELEVATION BY COUNTRY ------*/
SELECT TOP(5) k.CountryName
			 ,ISNULL(k.PeakName, '(no highest peak)') AS [Highest Peak Name]
			 ,ISNULL(k.MaxElevation, 0) AS [Highest Peak Elevation]
			 ,ISNULL(k.MountainRange, '(no mountain)') AS [Mountain]
FROM
	(
		SELECT c.CountryName
			  ,MAX(p.Elevation) AS MaxElevation
			  ,p.PeakName
			  ,m.MountainRange
			  ,DENSE_RANK() OVER (PARTITION BY c.CountryName ORDER BY MAX(p.Elevation) DESC) AS ElevationRank
		FROM Countries AS c
		LEFT JOIN MountainsCountries AS mc ON mc.CountryCode = c.CountryCode
		LEFT JOIN Mountains AS m ON m.Id = mc.MountainId
		LEFT JOIN Peaks AS p ON p.MountainId = m.Id
		GROUP BY c.CountryName, p.PeakName, m.MountainRange

	) AS k
WHERE k.ElevationRank = 1
ORDER BY k.CountryName, k.PeakName



