{{> header}}

<div class="container">
  {{#if hasNoTeam}}
    <a href="/create" class="btn btn-default">Create Team</a>
  {{/if}}
  <h1>Catalog Page</h1>
  <div>
    {{#each teams}}
      {{> team}}
    {{else}}
      <p>No teams available.</p>
    {{/each}}
  </div>
</div>

{{> footer}}