{{#if member.isAuthor}}
  <a href="/edit/{{id}}" class="btn btn-default">Edit Info</a>
{{/if}}
{{#if member.isOnTeam}}
  <a href="/leave/{{id}}" class="btn btn-default">Leave Team</a>
{{else}}
  <a href="/join/{{id}}" class="btn btn-default">Join Team</a>
{{/if}}