body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  width: 80vw;
  height: 80vh;
  position: relative;
}

.gradient:before,
.gradient:after {
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.gradient:before {
  background: linear-gradient(to bottom, #c98532, #d39b56, #ddb179, #e6c79d, #efddc3);
}

.gradient:after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  background: linear-gradient(to bottom, #8d9ca7, #a2aeb7, #b6c0c8, #ccd3d9, #e1e6ea);
}

.gradient:hover:after {
  opacity: 0;
}