<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
  <script src="{{ site.baseurl }}/scripts/site.js"></script>
  <title>{{site.title}}</title>
</head>
<body class="
  {% if page.title %}page page-{{ page.title | slugify }}{% endif %}
  {% if post.title %}post{% endif %}
  {% if page.home %}home{% endif %}
">
  <div class="site">
    <header class="site-header">

        {% if page.home == true %}
        <h1 class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        {% else %}
        <p class="site-title">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        {% endif %}

        {% include navigation.html location="header" %}

    </header>

    <main class="site-main">
      {% if page.title %}
        <h1>{{page.title}}</h1>
      {% endif %}
      
      {{content}}
    </main>
    
    {% include sidebar.html %}

    <footer class="site-footer">
      <p>All rights reserved &copy; {{ site.title }}</p>

      {% include navigation.html location="footer" %}

    </footer>
  </div>
</body>
</html>