div {
  display: inline-block;
  width: 30%;
  margin-left:2%;
  vertical-align: top;
}

span {
  font-weight: bold;
  border: 2px dotted darkcyan;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

li {
  border: 2px solid yellow;
}

