html {
  font-size: 16px;
  line-height: 1.2;
  font-family: Helvetica, sans-serif
}

body {
  margin: 3.0rem;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > span.logo {
  font-size: 2.0rem;
  font-weight: bold;
  margin-right: 3.0rem;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  padding-right: 1.5em;
}

nav ul li a {
  text-decoration: none;
  color:green;
}

nav ul li a:hover {
  color:black;
}

hr {
  margin-bottom: 1.8em;
}

h1 {
  font-size: 1em;
  line-height: 1.2;
  font-family: Georgia, serif
}