@import 'typography.css';

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

header > p.site-title {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

img.portrait {
  float: right;
  margin: 0 1rem 1rem 1rem;
}

img.landscape {
  float:left;
  margin: 0 1rem 1rem 0;
}

h1, h2 {
  font-family: Georgia, serif;
}

blockquote {
  font-family: Georgia, serif;  
  border-left: 2px solid gray;
  padding-left: 1.5rem;
  width: 45%;
  float: right;
  margin-left: 1.0rem;
}

blockquote span:last-of-type {
  display: block;
  text-align: right;
}

main {
  width: 83%;
  float: left;
}

aside {
  float: right;
}

ul li {
  list-style: inside;
  margin-left: 1rem;
}

