body {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "main main aside"
                       "footer footer footer"
}

header, main, aside, footer {
  padding: 1em;
  border-radius: 5px;
  color: white;
  background: black;
}

header { grid-area: header; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

@media(max-width:1024px) {
  body { 
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "aside"
                         "footer";
  }
}