<form action="#/edit/{{id}}" method="post">
  <div class="form-group">
    <label for="name">New Team Name:</label>
    <input class="form-control" type="text" id="name" name="name" value="{{teamData.name}}" />
  </div>
  <div class="form-group">
    <label for="comment">New Team Comment/Description: </label>
    <input class="form-control" type="text" id="comment" name="comment" value="{{teamData.comment}}" />
  </div>
  <input class="btn btn-default" type="submit" value="Update Team" />
</form>