*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html { box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.container {
  width: 60vw;
  height: 50vh;
  display: flex; 
  justify-content: space-evenly;
}
    .card {
      flex: 0 1 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75); 
      border-radius: 5px;
      overflow: hidden;
    }

    .card img {
      width: auto;
      height: 100%;
      border-radius: 5px;
    }
        .card.big {
          flex: 0 1 60%;
          background-color: black;
        }