body {
  height: 80vh;
  margin: 5rem;
  background: #EEEEEE;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

header, main, aside, footer {
  padding: 2rem 2rem 5rem 2rem;
  border-radius: 5px;
  background: #FFFFFF;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

header, footer { flex: 1 1 100%; }

main, aside { 
  padding-bottom: 10rem;
  margin: 1rem 0;
}

main {
  flex: 3 1 0;
  margin-right: 1rem;
}

aside {
  flex: 1 1 0;
}