@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

html {
  font-size: 16px;
}

body {
  max-width: 28rem;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
}

.button {
  text-decoration: none;
  font-weight: 600;
  color: rgb(51, 51, 51);
  background: rgb(251, 251, 251);
  padding: 0.7em 1.0em;
  margin: 0 0.5em;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 3.0em;
  cursor: pointer;
  outline: none;
}

.button.hover:hover {
  color: rgb(0, 102, 0);
  border-color:rgb(0, 102, 0); 
}

.button.fill {
  background: rgb(51, 51, 51);
  color: rgb(251, 251, 251);
}

.button.fill.hover:hover {
  background: rgb(0, 102, 0);
  color: rgb(251, 251, 251);
}