.page-animations .site-main h1,
.page-animations .site-header,
.page-animations .site-footer {
  display: none;
}

.page-animations {
  min-height: 100vh;
}

/* .box {
  width: 5em;
  height: 5em;
  background: red;
  animation: around 4s linear;
  position: absolute;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

.box {
  width: 20em;
  height: 15em;
  border: 2px solid #000;
  margin: 2em auto;
  background: #EEE;
}

.box:hover {
  animation: shake 0.5s ease;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-2em);
  }

  40% {
    transform: translateX(2em);
  }

  60% {
    transform: translateX(-1em);
  }

  80% {
    transform: translateX(1em);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes around {
  0% {
    top: 0; left: 0;
  }

  25% {
    top: 0;
    left: calc( 100% - 5rem );
  }

  50% {
    top: calc( 100% - 5rem );
    left: calc( 100% - 5rem );
  }

  75% {
    top: calc( 100% - 5rem );
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}