.site {
  max-width: var(--layout-main-width);
  margin: 0 auto;
  padding: 2em;
}

@media(min-width: 1024px) {
  .site-header {
    display: flex;
    align-items: center;
  }

  .site-header nav { 
    margin-left: auto;
  }
}



