<header>
  <nav>
    <ul>
      {{#if isLoggedIn}}
        <li>
          <a href="/create">Create new offer</a>
        </li>
      {{/if}}
      <li class="site-logo">Shoe</li>
      <li>
        <a href="/home">
          <img src="/public/sneakers.png" alt="">
        </a>
      </li>
      <li class="site-logo">Shelf</li>
      {{#if isLoggedIn}}
        <li>Welcome, {{email}} |
          <a href="/logout">Logout</a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>